.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: #00e7ff;
  font-family: Roboto;
  text-align: center;
}

.list-container {
  width: 85%;
  border: 2px #00e7ff solid;
  border-radius: 4px;
}

.top-box {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #092e33;
}

.left {
  color: #00e7ff;
  font-family: Roboto;
  font-size: 25px;
  padding: 15px;
  margin: 0px;
  padding-left: 35px;
}

.right {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.para {
  color: #00e7ff;
  font-family: Roboto;
  font-size: 25px;
  padding: 15px;
  margin: 0px;
}

.list {
  list-style-type: none;
}
